button{
    cursor: crosshair;
    color: red ;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}
h1{
    text-align: center;

}
form{
    text-align: center;
    border: solid black;
    margin: auto;
    padding: 20px;
    width: 300px;
}